:root {
    --main-bg-color: #1E1E1C;   
    --font-color-1: #ffffff; 
    --font-color-2: #AED62C;
    --font-color-3: #5BC7D3;
    --font-color-4: #ED2764;
    --font1: 'Nunito', sans-serif;
    --font2:'Roboto', sans-serif;


}
h2 {
    color:var(--font-color-2)
}

body{
    background:var(--main-bg-color);
    color: var(--font-color-1);
    font-family: var(--font1);
    text-align:center;

}
.navbar {
    text-align:right;
}
.nav-link{
    color: var(--font-color-3);
    font-size: 24px;
}

.active {
    color: var(--font-color-4);
}
/* ED2764 - red
AED62C - green
ADD7E4 - faded blue
586C87 - darker blue
2D333A - dark grey - background */