/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 :root {
  --main-bg-color: #0E1216;   
  --font-color-1: #efefef; 
  --font-color-2: #022462;
  --font-color-3: #65C9DD;
  --font-color-4: #EF7C82;
  --font1: 'Nunito', sans-serif;
  --font2:'Roboto', sans-serif;
}

.bgcolor {
  color:var(--main-bg-color);
  background-color:var(--main-bg-color);
}

.color1  { 
  color:var(--font-color-1);
}
.bgcolor1{
  background-color:var(--font-color-1);
}

.color2  { 
  color:var(--font-color-2);
}
.bgcolor2{
  background-color:var(--font-color-2);
}

.color3  { 
  color:var(--font-color-3);
}
.bgcolor3{
  background-color:var(--font-color-3);
}
.color4  { 
  color:var(--font-color-4);
}
.bgcolor4{
  background-color:var(--font-color-4);
}

.sp {
  height:500px;
}



nav ul a,
nav .brand-logo {
  
  color: var(--font-color-1);
}

p {
  line-height: 2rem;
}

h2 {
  color:var(--font-color-4);
}
h5 {
  font-family: var(--font2)
}

.sidenav-trigger {
  color: #26a69a;
}



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

body{ 
  background-color: var(--font-color-1) ;
  color: var(--main-bg-color);
  font-family: var(--font1);


}